html {
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4 ,h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;

    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;

    background-color: #181818;
}

/* Page */

.page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* Container */

.container {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto;
    padding: 0 1rem;
}


/* Header */

.header {
    background: #0d0d0d;

    margin-bottom: 6.5rem;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


/* Nav */

.nav__list {
    display: flex;
}

.nav__item {
    position: relative
}

.nav__item:hover .nav__link {
    background: #102327;
}

.nav__item:hover > .subnav {
    display: block;
}

.nav__link {
    display: block;

    padding: 1.65rem 2.2rem;

    font-size: 1rem;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none;

    transition: background-color .2s linear;
}

.nav__link.has--subnav {
    padding-right: 3.65rem;

    position: relative;
}

.nav__link.has--subnav:after {
    display: block;
    content: "";
    width: 0;
    height: 0;

    margin-top: 2px;

    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 1.5rem;

    transform: translateY(-50%);
}

.subnav {
    display: none;
    width: 13rem;

    padding: .5rem 0;

    background: #102327;
    border-radius: 0 0 5px 5px;

    position: absolute;
    top: 100%;
    left: 0;
}

.subnav__link {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

    transition: background-color .2s linear;
}

.subnav__link:hover {
    background: #0c1a1d;
}


/* Content */

.content {
    max-width: 40rem;
}

.content__header {
    margin-bottom: 2.5rem;
}

.suptitle {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.title span {
    color: #146679;
    text-transform: capitalize;
}

.text {
    font-size: 1rem;
}

.text span {
    color: #146679;
}


/* Van */

.van svg {
    display: block;
    position: absolute;
    bottom: 0;
    right: 20px;
}

/* Footer */

.footer {
    margin-top: auto;
    padding: 2rem 0 3rem;
}

/* Contacts */

.contacts {
    display: flex;
    align-items: center;
}

.contacts__link {
    margin-right: 2rem;

    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    position: relative;
}

.contacts__link:last-child:after {
    display: block;
    content: "";
    width: 80px;
    height: 2px;

    margin-left: 2rem;

    background-color: #fff;
    pointer-events: none;

    position: absolute;
    left: 100%;
    top: 50%;
}

.contacts__icon {
    margin-right: 5px;
}










































